.control-container {
  width: 40%;
  padding-top: 10px;
  text-align: center;
}

.volume-slider input {
  width: 80%;
}
#display {
  background-color: rgb(20, 20, 20);
  height: 40px;
  width: 80%;
  margin: 0 auto 10px;
  padding-top: 10px;
  border-radius: 5px;
  letter-spacing: 3px;
}

.control {
  width: 80%;
  background-color: rgb(29, 53, 42);
  margin: 0 auto;
  border-radius: 5px;
}

.select {
  width: 30%;
  height: 30px;
  background: black;
  margin: 0 auto 10px;
}

.inner {
  height: 99%;
  width: 50%;
  background-color: rgb(90, 7, 42);
  position: relative;
}
